@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-header">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

	}
	<ul class="nav navbar-nav">
		@{if (Request.Url.LocalPath == "/" || Request.Url.LocalPath == "/Transactions/IndexById" || Request.Url.LocalPath == "/Loans" || Request.Url.LocalPath == "/Accounts")
			{
				<li>
					@Html.ActionLink("Accounts", "Index", "Accounts")
				</li>
				<li>
					@Html.ActionLink("Loans", "Index", "Loans")
				</li>
			}
		  }
<!-- This renders to the browser if user is on the accounts page or loans page -->
	@{if (Request.Url.LocalPath == "/Accounts" || Request.Url.LocalPath == "/Loans")
		{
			<li>
				@Html.ActionLink("Transactions", "Index", "Transactions")
			</li>
		}
	  }
	</ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
